html, body {
  width: 100%;
  color: #188754;
}

a {
  color: #188754;
}

span {
  display: inline-block;
}

#header {
  margin-top: 80px;
  text-align: center;
}

#footer {
  margin-bottom: 60px;
  width: 100%;
  display: block;
  text-align: center;
}

#bar-title {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

#barplot {
  margin-top: 20px;
}

#timeplot {
  margin-top: 10px;
}

#time-series,
#bar-chart {
  display: block;
  width: 100%;
}

#bar-chart-container {
  height: 2040px;
}

#bar-chart-container.small_version {
  height: 400px;
}

#bar-chart-container.small_version #bar-chart {
  height: 360px;
}

.buttons {
  margin-top: 20px;
  width : 100%;
  text-align: center;
}

.buttons button {
  color: inherit;
  border-color: inherit;
}

.buttons button.selected {
  background-color: #188754;
  color : #fff;
}

#time-series-container {
  position: relative;
  height: 340px;
  padding: 0 10px;
}

#plexiglass {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 300px;
  display: block;
  z-index: 5;
}

#tooltip hr {
  margin: 0px;
  padding: 0px;
}

#tooltip {
  text-align: center;
  font-size: 12pt;
  z-index: 4;
  font-size: 12px;
  display: block;
  position: absolute;
  background: rgba(24, 135, 84, 0.85);
  color:#fff;
  padding: 5px 10px;
  border-radius: 2px;
  opacity: 0;
  white-space: nowrap;
}

#tooltip:after, #tooltip:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#tooltip:after {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0);
  border-width: 10px;
  margin-left: -10px;
}

#tooltip:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(24, 135, 84, 0.85);
  border-width: 11px;
  margin-left: -11px;
}

#tooltip span.title {
  font-weight: bold;
}

#pre-text {
  display: none;
}

#tooltip h6 {
  border-bottom: 1px solid #fff;
}

@media(max-width: 650px) {
  div#tooltip {
    font-size: 10px;
  }
}

svg {
  display: block;
  margin: 0 auto;
}

svg text {
  fill: #188754;
}

text.title {
  font-size: 14px;
}

text.name {
  font-size: 12px;
}

text.label {
  font-size: 10px;
  fill : #fff;
}

text.label.small, .bar rect {
  fill : #188754;
}

div.source {
  display: none;
  font-size: 8pt;
  width: 100%;
  text-align: right;
}

div.source a {
  padding-right: 20px;
}

div.source.show {
  display: block;
}


.arrow {
  stroke-width: 1px;
  stroke:#188754;
}

.line, .chairman {
  fill: none;
  stroke-width:2px;
  stroke : #188754;
}

.grid line {
  stroke-width: 1px;
  stroke-dasharray: 2, 2;
  stroke: #ccc;
}

.axis .domain {
  stroke : none;
  fill : none;
}


.ribbon {
  /* positioning */
  position: fixed;
  padding: 5px 45px;
  width: 128px;
  /* top left of the page */
  top: 50px;
  left: -50px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  /* effects with some shadow */
  text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);
  /* looks */
  background-color: #188754;
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
  /* webkit antialias fix */
  -webkit-backface-visibility: hidden;
  letter-spacing: .5px;
  -webkit-transition: box-shadow 0.3s linear;
  -o-transition: box-shadow 0.3s linear;
  -moz-transition: box-shadow 0.3s linear;
  -ms-transition: box-shadow 0.3s linear;
  -kthtml-transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
}


a.ribbon:hover {
  color: #fff;
  box-shadow: 0 0 0 3px #188754, 0 0 20px -3px rgba(0, 0, 0, 0.5);
}

circle {
  opacity: 0;
  stroke-width: 2px;
  stroke:#188754;
  fill : #fff;
}

@media (max-width: 650px) {
  .axis text {
    font-size: 10px;
  }
}

/* Larger than phablet */
@media (max-width: 350px) {
  .axis text {
    font-size: 8px;
  }
}